[submodule "chapter1"]
	path = chapter1
	url = https://github.com/ThinkjQuery/chapter1
[submodule "template"]
	path = template
	url = https://github.com/ThinkjQuery/template
[submodule "chapter2"]
	path = chapter2
	url = https://github.com/ThinkjQuery/chapter2
